<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title><%= current_page.data.title || "bxtr.co" %></title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    
    <script src="//use.typekit.net/vls5wls.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body class="<%= page_classes %>">
    <header id="header">
      <svg class="front-hex" viewBox="0 0 423.609 488.365">
         <use xlink:href="/images/hexagon.svg#hex"></use>
      </svg>
      <svg class="middle-hex" viewBox="0 0 423.609 488.365">
         <use xlink:href="/images/hexagon.svg#hex"></use>
      </svg>
      B X T R
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <footer id="footer">
      [footer...]
    </footer>
  </body>
</html>