<!doctype html>
<html>
  <%= partial "partials/head" %>
  
  <body class="<%= page_classes %> secondary">
    <%= partial "partials/hex-pattern" %>
    <%= partial "partials/header" %>
    <main id="main" role="main">
      <section>
        <article class="entry">
          <header class="entry-header">
            <h1 class="entry-title title"><%= current_page.data.title %></h1>
          </header>
          <div class="entry-content">
            <%= yield %>
          </div>
        </article>
      </section>
    </main>
    <% unless current_page.data.no_footer %>
      <%= partial "partials/footer-page" %>
    <% end %>
  </body>
</html>