<!doctype html>
<html>
  <%= partial "partials/head" %>
  
  <body class="<%= page_classes %> secondary">
    <%= partial "partials/hex-pattern" %>
    <%= partial "partials/header" %>
    <main id="main" role="main">
      <section>
        <article class="entry">
          <header class="entry-header">
            <h1 class="entry-title"><%= current_article.title %></h1>
            <div class="entry-meta"><time><%= current_article.date.strftime("%B %e, %Y") %></time></div>
          </header>
          <div class="entry-content">
            <%= yield %>
          </div>
        </article>
      </section>
    </main>
    <%= partial "partials/footer-post" %>
  </body>
</html>