---
title: Archive
layout: secondary
pageable: true
---

<section>
  <div class="container">
    <header class="page-header">
      <h1 class="page-title">Archive</h1>
    </header>
  </div>
  <% page_articles.each do |article| %>
    <article class="post post-summary">
      <header class="post-header">
        <h3 class="post-title"><a href="<%= article.url %>"><%= article.title %></a></h3>
        <div class="post-meta"><time><%= article.date.strftime("%B %e, %Y") %></time><%# &middot; <a href="#" class="post-summary-tag">#coffee</a>%></div>
      </header>
      <div class="post-teaser"><%= Nokogiri::HTML(article.summary(200, '&hellip;')).text %></div>
    </article>
  <% end %>
  <p class="u-text-centered">
    <% if paginate %>
      <% if prev_page %>
        <a href="<%= prev_page.url %>" class="button">Prev</a>
      <% end %>
      <% if next_page %>
        <a href="<%= next_page.url %>" class="button">Next</a>
      <% end %>
    <% end %>
  </p>
</section>