---
title: Welcome
---

<section>
  <header class="full-width-header"><h2>About Me</h2></header>
  <article>
    <div class="content">
      <p><%= image_tag 'me.jpg', :class => 'about-image' %> Hi, my name is <a href="/about">Matt Baxter</a>. I’m a <a href="<%= data.links.linkedin %>">designer and developer</a> at <a href="<%= data.links.work %>">projekt202</a> in Dallas, TX.</p>
      <p>I like to <a href="<%= data.links.sketch %>">doodle and sketch</a>. I <a href="<%= data.links.twitter %>">tweet</a> about design, technology, coffee, and life. When I have more to say than 140 characters, I <a href="/archive">write</a> on this site.</p>
    </div>
    <div class="content">
      <p class="u-text-centered">
        <a href="/about" class="button">More About Me</a>
      </p>
    </div>
  </article>
</section>

<section>
  <header class="full-width-header"><h2>Recent Posts</h2></header>
  
  <% blog.articles[0...3].each do |article| %>
    <article class="entry entry-summary">
      <header class="entry-header">
        <h3 class="entry-title"><a href="<%= article.url %>"><%= article.title %></a></h3>
        <div class="entry-meta"><time><%= article.date.strftime("%B %e, %Y") %></time></div>
      </header>
      <div class="entry-teaser"><%= Nokogiri::HTML(article.summary(200, '&hellip;')).text %></div>
    </article>
  <% end %>
  <p class="u-text-centered">
    <a href="/archive" class="button">More Posts</a>
  </p>
</section>

<%= partial "partials/section-social" %>
