---
title: Welcome
---

<section>
  <header class="full-width-header"><h2>About Me</h2></header>
  <article>
    <div class="content">
      <p><%= image_tag 'about/me.jpg', :class => 'about-image' %> Hi, my name is <a href="/about">Matt Baxter</a>. I’m a <a href="<%= data.links.linkedin %>">product designer</a> at <a href="<%= data.links.work %>">Luscinia Health</a> in Dallas, Texas.</p>
      <p>I like to <a href="<%= data.links.sketch %>">doodle and sketch</a>. I <a href="<%= data.links.twitter %>">tweet</a> about design, technology, coffee, and life. When I have more to say than 140 characters, I <a href="<%= blog.articles[0].url %>">write</a> on this site.</p>
    </div>
    <div class="content">
      <p class="u-text-centered">
        <a href="/about" class="button">More About Me</a>
      </p>
    </div>
  </article>
</section>

<section>
  <header class="full-width-header"><h2>Recent Posts</h2></header>
  
  <% blog.articles[0...3].each do |article| %>
    <%= partial "partials/entry-summary", :locals => { :article => article } %>
  <% end %>
  <% if blog.articles.length > 3 %>
  <p class="u-text-centered">
    <a href="/archive" class="button">More Posts</a>
  </p>
  <% end %>
</section>

<%= partial "partials/section-social" %>
